<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>    
<pre>

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Tdata = pd.read_csv("datasets/Tdata.csv")
Tdata

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0
5          T6      0       0       1     1    1     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [13]:
Tdata = Tdata.drop(columns="Transaction")
Tdata

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0
5      0       0       1     1    1     0

### Step 3: Count Single Items
See how many transactions include each item.

In [15]:
Tdata.sum()

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [31]:
from itertools import combinations

def find_frequent_itemsets(Tdata, min_support):
    n = len(Tdata)
    result = []

    for k in [1, 2, 3]:
        for items in combinations(Tdata.columns, k):
            mark = Tdata[list(items)].all(axis=1)
            support = mark.sum()/n

            print(f"{set(items)} -> support: {round(support, 2)}")

            if support>=min_support:
                result.append((frozenset(items), round(support, 2)))

    return result

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

In [35]:
find_frequent_itemsets(Tdata, 0.5)

{'bread'} -> support: 0.83
{'butter'} -> support: 0.5
{'coffee'} -> support: 0.33
{'eggs'} -> support: 0.33
{'jam'} -> support: 0.33
{'milk'} -> support: 0.5
{'bread', 'butter'} -> support: 0.5
{'coffee', 'bread'} -> support: 0.17
{'bread', 'eggs'} -> support: 0.17
{'bread', 'jam'} -> support: 0.17
{'milk', 'bread'} -> support: 0.5
{'coffee', 'butter'} -> support: 0.0
{'eggs', 'butter'} -> support: 0.0
{'butter', 'jam'} -> support: 0.17
{'milk', 'butter'} -> support: 0.33
{'coffee', 'eggs'} -> support: 0.17
{'coffee', 'jam'} -> support: 0.17
{'coffee', 'milk'} -> support: 0.0
{'eggs', 'jam'} -> support: 0.17
{'milk', 'eggs'} -> support: 0.17
{'milk', 'jam'} -> support: 0.0
{'coffee', 'bread', 'butter'} -> support: 0.0
{'bread', 'butter', 'eggs'} -> support: 0.0
{'bread', 'butter', 'jam'} -> support: 0.17
{'milk', 'bread', 'butter'} -> support: 0.33
{'coffee', 'bread', 'eggs'} -> support: 0.0
{'coffee', 'bread', 'jam'} -> support: 0.0
{'coffee', 'bread', 'milk'} -> support: 0.0
{'bread', 'jam', 'eggs'} -> support: 0.0
{'milk', 'bread', 'eggs'} -> support: 0.17
{'milk', 'bread', 'jam'} -> support: 0.0
{'coffee', 'eggs', 'butter'} -> support: 0.0
{'coffee', 'butter', 'jam'} -> support: 0.0
{'coffee', 'milk', 'butter'} -> support: 0.0
{'eggs', 'butter', 'jam'} -> support: 0.0
{'milk', 'eggs', 'butter'} -> support: 0.0
{'milk', 'butter', 'jam'} -> support: 0.0
{'coffee', 'eggs', 'jam'} -> support: 0.17
{'coffee', 'eggs', 'milk'} -> support: 0.0
{'coffee', 'milk', 'jam'} -> support: 0.0
{'milk', 'eggs', 'jam'} -> support: 0.0

[(frozenset({'bread'}), 0.83),
 (frozenset({'butter'}), 0.5),
 (frozenset({'milk'}), 0.5),
 (frozenset({'bread', 'butter'}), 0.5),
 (frozenset({'bread', 'milk'}), 0.5)]

### Step 6 Display as a DataFrame

   Itemset  Support
0  (bread)     0.83

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools